.search-container{
    display: flex;
    justify-content: center;
    align-items: center;
}
.search-container .search-wrapper {
    display: flex;
    padding-top: 10px;
    
}
.search-container .search-wrapper .search-icon {
    color: white;

}